.btn {
    display: block;
    text-transform: uppercase;
    border: none;
    width: 92.08px;
    height: 23.01px;
    color: #000;
    background: #fff;
    font-size: 14px;
    line-height: 23.01px;
text-align: center;
padding: 92px;
cursor: pointer;
}

/* стилизация хедера */
 
.header {
    display: flex;
    align-items: center;
    margin-top: 50px; 
    margin-bottom: 129px;
}

.header__list {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.header__list-item{
    margin-right: 20px;
}

.header__contact {
    display: flex;
    align-items: center;
}